body{
  background: #2b2c2f;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  max-width: 100%;
  height: auto;
  
}
.input-field{
  width: 320px;
  height: 40px;
  background: none;
  margin: 15px;
  outline: none;
  border-radius:30px;
  border: none;
  background-color: transparent;
  box-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
  color:#fff;
  padding: 0 15px;
  font-size: 18px;
}
.btn,.delete-btn{
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  box-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
}
.delete-btn{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 150px;
}
.btn:hover ,.input-field:hover,.delete-btn:hover{
  box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
}
.d-f{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 25px;
  color: #fff;
}
.d-f > div{
  cursor: pointer;
}
.todo-count{
  color: #ffff;
  margin-top: 15px;
}
.update-btn{
  margin: 20px;
}
.all-btn{
  width: 320px;
  margin: 10px 0;
  font-size: 20px;
}